.TodoSearch {
    background: #eff3f5;
    border-radius: 12px;
    border: 2px solid #8879B0;
    margin: 0 24px;
    height: 64px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 2px 5px 50px #FB2576;
}

.TodoSearch::placeholder {
    color: #A5A5A5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.TodoSearch:focus {
    outline-color: #FB2576;
}